################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Cognitive-Face-Windows/.vs
/Cognitive-Face-Windows/Cognitive-Common-Windows/SampleUserControlLibrary/.vs/SampleUserControlLibrary/v15
/Cognitive-Face-Windows/Sample-WPF/.vs
